.index{
    background-image: url(./assets/images/ap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 200%;
    height:60px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    position: fixed;
    top: 0;
}
.btn-toggle-nav{
    width: 62px;
    height: 100%;
    background-color: #f98f39;
    background-image: url(./assets/images/menu.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
    margin-left: -10px;
}
.btn-toggle-nav:hover{
    opacity: 0.5;
}
.main ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
.main ul li{
    list-style: none;
    line-height: 30px;
}
.main ul a{
    display: block;
    height: 200px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: arial;
    font-size: 16px;
}
.nav-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 1000;
    transition: all 6s ease-in;
}
.nav-sidebar ul{
    padding: 15px;
    overflow: hidden;
    visibility: hidden;
}
.nav-sidebar ul li{
   line-height: 60px;
   list-style: none;
}
.nav-sidebar ul li span, .nav-sidebar ul li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: all 3s ease-out;
}
 .nav-sidebar ul li a :hover{
    background-color: #222;
}
.fruits{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 100px;
    text-transform: capitalize;
    width: 500px;
    margin-left: 400px;
    border-bottom: 2px dashed white;
}
.fruits span{
    margin-left: 60px;
    opacity: 0.5;
}
.all-functions{
    margin-left: 140px;
    margin-top: 70px;
}
.all-functions .pi{
    border: 4px  dashed white;
    width: 250px;
    color: rgba(0, 0, 0, 0.722);
    font-family: arial;
    line-height: 25px;
    padding: 5px;
}
.all-functions .first{
    display: flex;
    gap: 20px;
}
.para p{
    border: 1px solid white;
    width: 1140px;
}
.all-functions .second{
    gap: 20px;
    margin-top: 20px;
}
.all-functions .second{
    display: flex;
}
.pi img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    max-height: 50px;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 60px;
}
.pi h2{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
footer{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.442);
    gap: 150px;
}
.gale{
    background-image: linear-gradient(black,gray,white);
}
.ga{
    background-color:  black;
    color: white;
    width: 1400px;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.ga .media{
    display: flex;
    margin-left: 400px;
    gap: 30px;
}
.ga .will{
    margin-left: 300px;
}
.ga .choice{
    margin-left: -100px;
}
.fru img{
    max-width: 200px;
    max-height: 200px;
}
.wha img{
    max-width: 20px;
    max-height: 20px;
    border-radius: 60px;
}
.all-fruits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 1000px;
    margin-left: 150px;
    gap: 10px;
}
.all-fruits .one1{
    display: flex;
}
.all-fruits .two2{
    display: flex;
}
.all-fruits .fru{
    border: 2px solid black;
    width: 200px;
    height: 150px;
}
.back{
    color: white;
}
.back a{
    color: white;
    text-transform: uppercase;
}
.sec{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    color: white;
}
fieldset{
    width: 300px;
    height: 600px;
    background-color: black;
    border-radius: 20px;
}
input{
    width: 300px;
    margin-left: 100px;
    margin-top: -40px;
    border-radius: 20px;
    height: 30px;
}
textarea{
    display: flex;
    margin-left: 160px;
    width: 250px;
    height: 60px;
    margin-top: 10px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
    width: 150px;
    background-color: red;
    height: 40px;
}
.about{
    background-image: radial-gradient(gold,black,black);
    font-size: 20px;
    font-family: arial;
}
table{
    width: 1000px;
    height: 500px;
    margin-top: 140px;
    margin-left: 200px;
    color: white;
}
th{
    font-weight: bold;
}
td,th{
    border: 1px solid white;
    margin-left: 20px;
}
.about nav{
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1400px;
    height: 50px;
}
.nav-about,a{
    display: flex;
    gap: 20px;
    margin-left: 100px;
    margin-top: 10px;
    text-decoration: none;
}